@tailwind base;
@tailwind components;
@tailwind utilities;

*:root {
    --baseColor: #18191C;
    --textColorPink: #FF538E;
    --textColorPink2: #FB7199;
    --textColorBlue:#00AEEC;
    --textColorWhite: #FFFFFF;
    --bgPink: #FFECF1;
    --textColor1: #61666D;
    --textColor2: #9499A0;
    --textColor3: #C9CCD0;
    color: var(--baseColor);
}

body {
    min-width: 1100px;

    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif !important;

  
  
}

::-webkit-scrollbar {
    width: 3px;  
}

::-webkit-scrollbar-thumb {
    background: var(--textColor3);  
    border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
    background:var(--textColor2);  
}
