@keyframes AnimationText {
    50% {
        transform: translateY(-10%);
        padding-bottom: 20px;
    }
}
@keyframes AnimationText2 {
    50% {
        transform: translateY(-20%); 
    }
}
@keyframes onmounted {
    0% {
        opacity: .8;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
$textAnimation:.2s ease-out AnimationText;
$textAnimation2:.2s ease-out AnimationText2;
$textAnimation3:.3s ease-out onmounted;